<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/App_Style/css">
    <include path="~/App_Images/RoleDesign/style.css" />
    <include path="~/App_Style/AppStyle.css" />
    <include path="~/App_Style/grid24.css" />
    <include path="~/App_Style/CustomStyle.css" />
    <include path="~/App_Style/chosen.css" />
    <include path="~/App_Style/jquery-ui.css" />
    <include path="~/App_Style/RoleDesign/style.css" />
    <include path="~/App_Style/Newcss/opa-icons.css" />
    <include path="~/App_Style/Newcss/charisma-app.css" />
    <include path="~/App_Style/MarcTooltips.css" />
    <include path="~/App_Style/toastrsample.css"/>
    <include path="~/App_Style/select2.min.css"/>
  </styleBundle>
  <styleBundle path="~/Content/css">
    <include path="~/Content/handsontable/handsontable.full.min.css" />
  </styleBundle>

</bundles>