<?xml version="1.0" encoding="UTF-8"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" /></sectionGroup></sectionGroup></configSections>
  <system.web>
 <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
       <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /> 
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
       <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
     <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /> 
      <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />

      </assemblies>
    <buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></buildProviders></compilation>
    <httpRuntime maxRequestLength="10240" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
       <!-- <mimeMap fileExtension=".tab" mimeType="text/plain" />-->
 </controls>
    </pages>
  		<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="60" />

</system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
   <!-- <add key="ConnectionString" value="server=localhost;user id=root;  password=m0dern@123;database=mdrc6.0_live;port=3306; pooling=false;Respect Binary Flags=false;Allow Zero Datetime=true;" />-->
<add key="MachineDB" value="machost_MDRC" />
<add key="HomeCollectionDB" value="" />       
 <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ServerUrl" value="design/default.aspx" />
    
    <add key="Location" value="" />
    <add key="HospCode" value="" />
    <add key="FromMail" value="" />
    <add key="MailPwd" value="" />
    <add key="LabReportPath" value="F:\\" />
    <add key="WordReportPath" value="D:\Lims 6.0\live_Code\Uploaded Document" />

    <add key="ClientImagePath" value="D:\Lims 6.0\live_Code\ClientImages" />
    <add key="ApplicationHost" value="http://localhost/Mdrc6.0" />
    <add key="owin:AutomaticAppStartup" value="flase" />
    <add key="PUPListForNewSMS" value="" />
    <add key="CancelAppointmentSMS" value="Dear Customer, your Home sample Collection was cancelled due to Cancelled Request. Pls. be in Touch with Our Customer Care for any further clarification. {custmercareno}" />
    <add key="RescheduleNowSMS" value="Dear Customer, Your Home sample Collection was Rescheduled  on {BookingDate} and {BookingTime} .  Pls. be in Touch with Our Customer Care for any further clarification. {custmercareno}" />
    <add key="BookSlotSMS" value="Dear {Pname} , Your Home sample collection has been confirmed our Executive will visit at {BookingTime} on {BookingDate}. Please keep amount {Totalamt} {Paymentmode} ready. Please use {OTP} as OTP.Home Executive details will share you  before 1 hour of collection Time. For any queries contact {custmercareno}" />
    <add key="BookSlotSMSPUP" value="Dear {Pname} , Your Home sample collection has been confirmed our Executive will visit at {BookingTime} on {BookingDate}. Please use {OTP} as OTP.Home Executive details will share you  before 1 hour of collection Time. For any queries contact {custmercareno}" />
    <add key="CentreVisitSMS" value="Dear {Pname} , Your Visit has been confirmed at {CentreName} at  {BookingTime} on {BookingDate} and your pre-booking id {prebookingid} . Please keep amount {Totalamt} {Paymentmode} ready. {CentreName} address {centreaddress}  For any queries contact {custmercareno}." />
 <add key="HomeCollectionDB" value="live_mdrc_homecollection" />
  </appSettings>
<location path="Design/Mobile/Login.asmx">
    <system.web>
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
      </webServices>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 <system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="50000000" />
        </webServices>
      </scripting>
    </system.web.extensions>
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true" /></rptBuildProvider></crystalReports></businessObjects>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="false">
                <requestLimits maxAllowedContentLength="2147483647" maxUrl="409600" maxQueryString="204800" />
            </requestFiltering>
        </security>
        <directoryBrowse enabled="true" />
        <staticContent>
<mimeMap fileExtension=".less" mimeType="stylesheet/less" />
            <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
        </staticContent>  
        <defaultDocument enabled="true">
            <files>
<clear />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Script" />
    </system.webServer>

</configuration>