<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- LIS 6.0    -->
    <add key="ConnectionString" value="server=localhost;port=3333;user id=root; password=m0dern@123;database=mdrc_live_6; pooling=false;Respect Binary Flags=false; Convert Zero Datetime=True" />
    <!-- LIS 2.0    -->
    <add key="ConnectionString_local" value="server=192.168.2.222;port=3333;user id=root; password=m0dern@123;database=mdrc_live; pooling=false;Respect Binary Flags=false; Convert Zero Datetime=True" />
    <add key="Oledb_ConStr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\CopulaG8\Data\SPEC.mdb" />
    <add key="SqlConnectionString" value=" Data Source=ITD-WS-006 ;Initial Catalog=INTERFACE ;Integrated Security=True;"/>
    <!--<add key="Oledb_ConStr" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\accprube 32 bit g8\SPEC.mdb" />  ASP01DB.MDB    -->
    <add key="Mode" value="1" />
    <add key="PortName" value="COM1" />
    <add key="BaudRate" value="9600" />
    <add key="Parity"   value="None" />
    <add key="DataBit"  value="8" />
    <add key="StopBit"  value="1" />
    <add key="Machine"  value="WinMacData" />
    <add key="Base_class" value="WinMacData"/> 
    <add key="Data_Path_BK" value="D:\Live_Machine (2)\win_Machine\bin\x86\Debug\2" />
    <add key="Data_Path" value="D:\Live_Machine (2)\win_Machine\bin\x86\Debug\1\" />
    <add key="Data_PathA15Import" value="D:\Live_Machine (2)\win_Machine\bin\x86\Debug\1" />
    <add key="centerID" value="" />
    <add key="HmxParam" value="WBC,RBC,HGB,HCT,MCV,MCH,MCH,RDW,PLT,PCT,MPV,PDW,LY#,MO#,NE#,EO#,BA#,LY%,MO%,NE%,EO%,BA%"/>
    <!--QC API-->
    <add key="QCCheckActivate" value="0"/>    
    <add key="QCPuchDataURL" value="http://report.apollodiagnostics.in/Apollo/design/Quality/qcstatus.aspx"  />    
    <add key="popupactive" value="1"/>
    <add key="FlagCheck" value="1"/>
    <!--<for autoview RAVI ITDOSE appliccation>-->
    <!--<add key="Data_Path_BK" value="C:\Users\Administrator-Ravi\Desktop\star auto\FileBKP" />
    <add key="Data_Path"        value="C:\Users\Administrator-Ravi\Desktop\star auto\" />-->
    <add key="OrderPathBAK" value="C:\OCD\AV2G\lan\dnl" />
    <add key="OrderPathTRA" value="C:\OCD\AV2G\lan\traces" />
    <add key="Image_Path" value="C:\Users\Administrator-Ravi\Desktop\star auto\images\" />
    <add key="ImageMove" value="C:\Users\Administrator-Ravi\Desktop\star auto\imagemove" />
    <add key="checkpath" value="C:\Users\Administrator-Ravi\Desktop\star auto\newimage\" />
    <add key="imageBK" value="C:\Users\Administrator-Ravi\Desktop\star auto\server\" />
    <!--<for autoview appliccationEnd >-->
    <add key="G8BlockReading" value="03,01,24,42,43,40,46,08" />
    <add key="LEFT" value="PH,S.G,BLD,BIL,KET,NIT,GLU"/>
    <!--<for xl640one-mg >--> 
    <add key="UIBC" value="UIB"/>
    <add key="IRON" value="IRON"/>
    <!--<for NirmayaAu480-mg >-->
    <add key="Urea" value="034"/>
    <!--for response5h Filepickup Time In Minnute-->
    <add key="Time" value="30"/>
    <!--for Baes clientik labno starting point 3 digit-->
    <add key="labno" value="100"/>
    <add key="pathcarecp" value="0"/>
    <add key="FileWriteLOCATION" value="D:\Live_Machine (2)\win_Machine\bin\x86\Debug\1"/>
    <add key="DLC" value="Central_Link_%NEUTF,Central_Link_%BASO,Central_Link_%EOS,Central_Link_%LMPO,Central_Link_%MONO,"/>
    <add key="WBC" value="1"/>
    <add key="Suffix" value="" />
    <add key="CreateLog" value="1" />
    <add key="ApplicationType"  value="popup"/>
    <add key="SyncInterval"     value="30000" />
    <add key="MachineParam"     value="WBC_params.txt"/>
    <add key="PortNo"           value="5100" />
    <add key="IPAddress"        value="www.google.co.in" />
    <!--hl7 sender port ip and port-->
    <add key="senderIPAddress" value="192.168.5.206" />
    <add key="SenderPortNo"    value="1211" />
    <add key="SampleType"      value="41,86,87,88,89,90,91" />
    <add key="SampleTypeHBA1c" value="41,86,87,88,89,90,91" />
    <add key="SampleTypeUrine" value="41,86,87,88,89,90,91" />
  </appSettings>
</configuration>


