vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Feb 2013 13:10:06 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|19 Feb 2013 13:10:06 -0000
vti_filesize:IR|2543
vti_cachedlinkinfo:VX|S|../img/uploadify-cancel.png
vti_cachedsvcrellinks:VX|NSUS|SmartHealthLab/JavaScript/img/uploadify-cancel.png
vti_lineageid:SR|{031071AF-B04F-4C79-A912-F9CCAA045AC9}
vti_backlinkinfo:VX|SmartHealthLab/Design/Lab/TextEditor_CE.aspx
