<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=localhost;user id=root; password=123456;database=mdrc_live;port=3306; pooling=false;Respect Binary Flags=false;Convert Zero Datetime=True;"/>
    <add key="WebPath" value="http://localhost:34489/MDRC/Design/Lab/labreportnew.aspx?"/>
    <add key="CreateLog" value="1"/>
    <add key="ErrorEmail" value="rohit.kashyap@itdoseinfo.com"/>
    <add key="strFrom" value="lifediagnostics011@gmail.com"/>
    <add key="from_MailID" value="lifediagnostics011@gmail.com"/>
    <add key="from_Username" value="Life Diagnostics"/>
    <add key="from_Password" value="life@123"/>
    <add key="SyncInterval" value="6000"/>
    <add key="FileWaitTime" value="6000"/>
    <add key="smtp_Host" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="sslEnable" value="1"/>
    <add key="EmailBody" value=""/>
    <add key="EmailSubject" value="Patient Report - Patient Name: {PName} - ID: {LedgerTransactionNo}"/>
    <add key="PatientCC" value=""/>
    <add key="PatientBCC" value=""/>
    <add key="PanelCC" value=" "/>
    <add key="PanelBCC" value=""/>
    <add key="DoctorCC" value=" "/>
    <add key="DoctorBCC" value=""/>
    <add key="AllowAttachments" value="Y"/>
    <add key="RadioLogyReport" value="N"/>
    <add key="MailLockForCreditExceed" value="N"/>
    <add key="UploadDocPathWithDatePath" value="Y"/>
    <add key="UploadDocPath" value=""/>
    <add key="Phead" value="1"/>
    <add key="checkInternet" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
