 tr.FullRowColorInPink td {
                background-color:pink!important;
}
        tr.FullRowColorInYellow td {
            background-color: yellow!important;
        }

           div#divPatient.vertical {
            width: 99.8%;
            height: 440px;
            background: #ffffff;
            float: left;
            overflow-y: auto;
            border-right: solid 1px gray;
        }
        div#MainInfoDiv.vertical{
            height: 450px;
            background: #ffffff;
            overflow-y: auto;
            display:none;
        }


        div#divInvestigation {
            /*margin-left: 40%;*/
            height:385px;
            background: #ffffff;
            overflow-y: auto;
        }
        .htCore{
            width:99.6%
        }

        div#divPatient.horizontal {
            height: 400px;
            background: #ffffff;
            overflow-y: auto;
            display:none;
        }

        div#MainInfoDiv.horizontal {
            height: 400px;
            background: #ffffff;
            overflow-y: auto;
        }


        .ht_clone_top_left_corner, .ht_clone_bottom_left_corner, .ht_clone_left, .ht_clone_top {
            z-index: 0;
        }

        .ajax__calendar .ajax__calendar_container {
            z-index: 9999;
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 999; /* Sit on top */
            padding-top: 50px; /* Location of the box */
            left: 0;
            top: 0;
            width: 99.6%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0;
            }

            to {
                top: 0;
                opacity: 1;
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0;
            }

            to {
                top: 0;
                opacity: 1;
            }
        }

        /* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .modal-header {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }

        .handsontable .htDimmed {
            color: #000000;
        }

        .currentRow {
            background-color: #f6f8b3  !important; /*#E7E8EF*/
        }
        .handsontableInput
        {
            /*width:150px !important;*/
            max-width:150px !important;
        }
        .handsontableEditor, autocompleteEditor, handsontable, listbox{
             /*width:200px;*/
             max-width:200px;
        }

        .InvHeader{
            background-color:#EFF0F1;
            font-weight:bold;
            color:red;

        }

        .DeptHeader {
            background-color:#D7EDFF;
            font-weight:bold;
            color:#800000;
        }

        .InvSubHead {
            
            font-style: italic;
            color:#63B42F; font-weight:bold;
        }


        #divimgpopup
        {
                height: 984px;
    min-height: 134px;
    width: auto;
    width: 400px;
    padding: 10px;
        }
        .ui-dialog-title
        {
            font-weight: bold;
        }
        .ui-dialog
        {
                display: block;
                position: absolute;
                outline: 0px;
                height: 300px;
                padding: 10px;
                width: 500px;
                top: 0px;
                left: 514.5px;
                z-index: 9999;
                background-color: whitesmoke;
                 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            
        }
        .ui-icon-closethick
        {
            float:right;
        }

           .Printed{
            background-color:#00FFFF;
        }
        .Approved{
            background-color:#90EE90;
        }
        .Tested{
            background-color:#FFC0CB;
        }
        .Hold{
            background-color:#FFFF00;
        }

        .Forwarded{
            background-color:#3399FF;
        }
        .MacData{
            background-color:#E2680A;
        }
        .Not-Collected{
            background-color:#CC99FF;
        }
        .Collected{
            background-color:#CC99FF;
        }
        .Received{
            background-color:#FFFFFF;
        }
        .Rejected{
            background-color:#B0C4DE;
        }
        .NA{
            background-color:#FFFFFF;
        }

        #popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(images/info.gif);
}

#popup_content.confirm {
	background-image: url(images/important.gif);
}

#popup_content.prompt {
	background-image: url(images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}



        
.handsontable .htDimmed {
            color: #000000;
        }

        .currentRow {
            background-color: #E7E8EF !important;
        }
        .handsontableInput
        {
            /*width:150px !important;*/
            max-width:150px !important;
        }
        .handsontableEditor, autocompleteEditor, handsontable, listbox{
             /*width:200px;*/
             max-width:200px;
        }


        .Printed{
            background-color:#00FFFF !important;
        }
        .Approved{
            background-color:#90EE90 !important;
        }
        .Tested{
            background-color:#FFC0CB !important;
        }
        .Hold{
            background-color:#FFFF00 !important;
        }

        .Forwarded{
            background-color:#3399FF !important;
        }
        .MacData{
            background-color:#E2680A !important;
        }
        .Not-Collected{
            background-color:#CC99FF !important;
        }
        .Collected{
            background-color:#CC99FF !important;
        }
        .Received{
            background-color:#FFFFFF !important;
        }
        .Rejected{
            background-color:#B0C4DE !important;
        }
        .NA{
            background-color:#FFFFFF !important;
        }

