<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>  
      <add key="ConnectionString" value="server=localhost;user id=root; password=123456;database=modern_demo1; port=3306; pooling=false;Respect Binary Flags=false;" />
      <add key="URL" value="http://login.shortmsgservice.com/api/sendhttp.php?authkey=4157AKZUTthqxb056bc1ebb~mobiles=MOBILENO~message=SMSTEXT~sender=KOSLAB~route=4" />
      <add key ="SyncInterval" value="10000" />
      <add key="ApprovalDiff" value="0"/>
      <add key="CreateLog" value="1" /> 
    <add key="checkInternetConnection" value="0" /> 
  
  </appSettings>
</configuration>

